# Config files
igc_config_inc.php


# Docbook builds
docbook/*/*/builddate
docbook/*/*/build
docbook/*/*/install

# Build output
build/

# Untracked plugins
plugins/*
!plugins/MantisCoreFormatting
!plugins/MantisGraph
!plugins/XmlImportExport

# IDE/Editor temporary files
*~
*.swp
*.bak
.buildpath
.cache
.project
.settings

# IIS7 
web.config

#libraries
library/jpgraph
library/FirePHPCore

# doc_igc
doc_igc/*
